<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<Configuration>
  <properties>
    <property name="LOG_HOME">C:/logs/dadoo-blog</property>
  </properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} [%p] %t %c.%M - %msg%n"/>
    </Console>
    <RollingFile name="MainRollingFile" filename="${LOG_HOME}/main.log" filePattern="${LOG_HOME}/backup/main-%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="%d{ISO8601} [%p] %t %c.%M - %msg%n"/>
      <Policies>
        <!-- 每小时封存一次-->
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
    <RollingFile name="ControllerRollingFile" filename="${LOG_HOME}/controller.log" filePattern="${LOG_HOME}/backup/controller-%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="%d{ISO8601} [%p] %t %c.%M - %msg%n"/>
      <Policies>
        <!-- 每小时封存一次-->
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
    <RollingFile name="SpringRollingFile" filename="${LOG_HOME}/spring.log" filePattern="${LOG_HOME}/backup/spring-%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="%d{ISO8601} [%p] %t %c.%M - %msg%n"/>
      <Policies>
        <!-- 每小时封存一次-->
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="im.dadoo.blog.web.controller" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="ControllerRollingFile"/>
    </Logger>
    <Logger name="org.springframework.jdbc" level="TRACE" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="SpringRollingFile"/>
    </Logger>
    <Logger name="im.dadoo.blog" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="MainRollingFile"/>
    </Logger>
    <Root level="ERROR">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>